*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

bench/plots/figures/
build/
_deps/
cmake-build-*
compile_commands.json
Makefile
test/Makefile
test/cmake_install.cmake
CMakeCache.txt
cmake_install.cmake
.idea/
/Doxygen/latex/
/Doxygen/html/

.vscode
